flask
flask-cors
flask-jwt-extended
werkzeug
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
spacy
selenium
openai
docx2txt
transformers
torch
python-docx
PyMuPDF
pdfminer.six
sentencepiece
requests
python-dateutil
scikit-learn
numpy
pandas